@font-face {
  font-family: Rajdhani;
  src: url(/assets/fonts/Rajdhani-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Rajdhani;
  src: url(/assets/fonts/Rajdhani-Bold.ttf);
  font-weight: bold;
}

section {
  font-family: "Rajdhani";
  font-size: 16px;
  color: white;
  padding: 20px 0;
  text-align: justify;
}
/* Sets body copy in 3 columns. */
.about {
  column-count: 3;
  column-gap: 30px;
}

/* Sets band pic within the margins of the first column of body copy. */
.band-pic {
  width: 100%;
}

/* Sets the band member pics within a white circle in this section. */
.band-member-pic {
  margin-bottom: 20px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.band-member-pic img {
  max-width: 200px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.band-member-name {
  font-weight: bold;
}

.band-profiles {
  display: flex;
  justify-content: space-around;
}

/* Sets a flex view for the milestones section. */
.milestones {
  display: flex;
  border-top: 0.5px solid white;
}

.decade {
  padding: 0 25px;
  flex: 1;
}

.heading {
  text-align: center;
}

.decade ul>li {
  padding: 10px;
}

.date {
  font-size: 20px;
  font-weight: bold;
}


@media only screen and (max-width: 768px) {
  .band-pic {
    width: 100%;
  }

  .about {
    column-count: 2;
    column-gap: 30px;
  }

  .milestones {
    flex-direction: column;
  }

  .decade {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 425px) {
  .about {
    column-count: 1;
  }
  .decade ul {
    padding: 0;
  }
  .decade ul>li {
    list-style: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  .band-profiles {
    flex-direction: column;
  }
}
