@font-face {
  font-family: Rajdhani;
  src: url(/assets/fonts/Rajdhani-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Rajdhani;
  src: url(/assets/fonts/Rajdhani-Bold.ttf);
  font-weight: bold;
}

section {
  font-family: "Rajdhani";
  font-size: 16px;
  color: white;
  padding: 20px 0;
  text-align: justify;
}

.band-pic {
  width: 800px;
  float: right;
  padding: 20px 0 20px 40px;
}

.band-member-pic {
  margin-bottom: 20px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.band-member-pic img {
  max-width: 200px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.band-member-name {
  font-weight: bold;
}

.band-profiles {
  display: flex;
  justify-content: space-around;
}

.milestones {
  display: flex;
  border-top: 0.5px solid white;
}

.decade {
  padding: 0 100px;
  flex: 1;
}

.heading {
  text-align: center;
}

.decade ul>li {
  padding: 10px;
}

.date {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .band-pic {
    width: 100%;
  }

  .milestones {
    flex-direction: column;
  }

  .decade {
    padding: 20px 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  .band-profiles {
    flex-direction: column;
  }
}
