body {
  color: white;
}

.all-albums-container {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.album-details {
  padding: 20px;
  flex: 0;
}

.album-cover {
  margin-bottom: 20px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .all-albums-container {
    flex-direction: column;
  }

  .album-cover img {
    width: 100%;
  }
}

.album-release-date {
  margin-bottom: 20px;
}

.album-title, .album-release-date {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-family: "CabinSketch";
}

.album-summary, .album-track-listing {
  font-family: "Rajdhani";
  text-align: justify;
}

.album-track-listing ol {
  padding-left: 0;
  list-style-position: inside;
  list-style-type: decimal-leading-zero;
}

.track-length {
  float: right;
}

/* Sets the size of the flip card container. We have added the border property to demonstrate that the flip itself goes out of the box on hover. */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  /* Gives a 3D effect */
}

/* This container formats the front and back of the flip card. */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Does a horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Positions the front and back of the flip card. */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Styles the back of the flip card. */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

@media only screen and (min-width: 320px) {
  .album-details {
    padding: 20px 0;
  }

  .flip-card {
    width: 250px;
    height: 250px;
  }

  .album-cover img {
    width: 100%;
  }
}

@media only screen and (min-width: 425px) {
  .flip-card {
    width: 300px;
    height: 300px;
  }

  .album-details {
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .flip-card, .flip-card-back iframe {
    width: 250px;
    height: 250px;
  }
}
