/* Defines font family for the site. */
@font-face {
  font-family: CabinSketch;
  src: url(./assets/fonts/CabinSketch-Bold.ttf);
}

/* Defines background color and font color for the site. */
body {
  background-color: black;
  color: white;
}

/* Sets padding for the container that holds all the elements in the index page. */
.container {
  padding: 40px;
}

/* Defines the logo, nav and social media elements in the header. */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

/* Defines the container of the band logo. */
.logo {
  width: 180px;
  margin-right: 4%;
}

/* Defines the width of the band logo within the logo container. */
.logo img {
  width: 100%
}

/* Defines the nav elements in the header. */
.nav {
  font-family: "CabinSketch";
  font-size: 24px;
  color: white;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

/* Defines color of the nav elements (text). */
.nav a {
  color: white;
  text-decoration: none;
}

/* Places a red line underneath the active page header. */
.nav a.active {
  border-bottom: 2px solid #c80000;
}

/* Defines the unordered list of the nav elements. */
.nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 80%;
}

/* Sets the nav elements next to the band logo. */
.nav li {
  display: inline-block;
}

/* Hides the hamburger icon on larger screens (non-mobile view). */
.nav .menu-icon {
  display: none;
}

/* Sets a margin on the left of the social media icons. */
.social-media-icons {
  margin-left: 20px;
}

/* Sets the color of the social media icons. */
.social-media-icons a {
  color: #c80000;
  text-decoration: none;
}

/* Sets the size of the social media icons (Font Awesome). */
.social-media-icons .fab {
  font-size: 20px;
  margin-left: 20px;
}

/* Defines the container that holds the hero images. */
.hero {
  overflow: hidden;
  height: 90%;
  margin-bottom: 5%;
}

/* Defines size of the hero images inside the hero image container. */
.hero img {
  width: 100%;
}

/* Defines the view of responsive mode with hamburger icon and drop-down menu. */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

  /* Hamburger icon. */
  .nav .menu-icon {
    display: block;
    font-size: 36px;
    text-align: right;
    width: 45px;
  }

  /* Hides nav elements in responsive view. */
  .nav ul {
    display: none;
  }

  /* Drop-down menu style for responsive mode. */
  .nav.responsive ul {
    font-size: 16px;
    display: block;
    position: absolute;
    top: 45px;
    text-align: right;
    right: 0;
    background-color: black;
    width: 100px;
    padding: 20px 0 20px 20px;
    z-index: 100;
  }

  /* List item style for drop-down menu. */
  .nav.responsive li {
    padding: 5px 0;
    display: block;
  }

  /* Header style for responsive mode. */
  .header {
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .container {
    padding: 20px;
  }
}

@media only screen and (min-width: 320px) {

  /* Nav view in responsive mode. */
  .nav {
    order: 3;
  }

  .logo {
    width: 120px;
  }

  /* Places social media icons between logo and nav in responsive view. */
  .social-media-icons {
    order: 2;
    margin-left: 0;
  }

  /* Sets font size and margin for social media icons. */
  .social-media-icons .fab {
    font-size: 14px;
    margin-left: 5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav {
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo {
    width: 120px;
  }

  .nav {
    order: 2;
  }

  .nav ul {
    width: 100%
  }

  .social-media-icons {
    order: 3;
    margin-left: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav {
    font-size: 20px
  }

  .nav ul {
    width: 100%
  }

  .social-media-icons .fab {
    font-size: 20px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
    width: 180px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav ul {
    width: 80%
  }

  .logo {
    width: 180px;
  }
}
