@font-face {
  font-family: CabinSketch;
  src: url(/assets/fonts/CabinSketch-Bold.ttf);
}
.container {
  background-color: black;
  width: 1320px;
  height: 880px;
  padding: 40px;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.header div {
  display: inline-block;
}
.logo {
  width: 180px
}
.logo img {
  width: 100%
}
.nav {
  font-family: "CabinSketch";
  font-size: 20px;
  color: white;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav li {
  display: inline-block;
  margin-left: 107px;

}
.hero {
  overflow: hidden;
  height: 90%;
}
.hero img{
  width: 100%;
}
