@font-face {
  font-family: CabinSketch;
  src: url(/assets/fonts/CabinSketch-Bold.ttf);
}
.container {
  background-color: black;
  /* width: 1320px;
  height: 880px; */
  padding: 40px;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.logo {
  width: 180px;
  margin-right: 4%;
}
.logo img {
  width: 100%
}
.nav {
  font-family: "CabinSketch";
  font-size: 20px;
  color: white;
  flex-grow: 1;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav li {
  display: inline-block;
  /* margin-left: 107px; */

}
.hero {
  overflow: hidden;
  height: 90%;
}
.hero img{
  width: 100%;
}
/* * {
  box-sizing: border-box;
} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav {
    background-image: url(/assets/images/menu-icon.png);
    width: 45px;
    height: 45px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 0

  }
  .nav ul {
    display: none;
  }
  .header {
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .container {
    padding: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav {
    font-size: 14px
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav {
    font-size: 20px
    }
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
