.tablecontainer {
  display: flex;
  justify-content: center;
  font-family: Rajdhani;
}

.tablecontainer thead {
  font-size: 20px;
}

/* Sets the buy ticket links in white color. */
.tablecontainer a {
  color: white;
}

.tablecontainer table {
  border: 1px solid white;
  border-collapse: collapse;
  width: 80%;
}

.tablecontainer td, .tablecontainer th {
  border: 1px solid white;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .tablecontainer table {
    width: 100%;
  }

  .tablecontainer td, .tablecontainer th {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .tablecontainer {
    font-size: 12px;
  }

  .tablecontainer thead {
    font-size: 16px;
  }

  .tablecontainer td, .tablecontainer th {
    padding: 5px;
  }
}
